# Projeto
COMPOSE_PROJECT_NAME=protheus-docker-lab

# Imagens TOTVS Engineering Pro
LICENSE_IMAGE=totvsengpro/license-dev
POSTGRES_IMAGE=totvsengpro/postgres-dev:12.1.2510_bra
DBACCESS_IMAGE=totvsengpro/dbaccess-postgres-dev
APPSERVER_IMAGE=totvsengpro/appserver-dev

# Banco de dados
POSTGRES_HOST=postgres-iniciado
POSTGRES_PORT=5432
POSTGRES_DB=protheus
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# DBAccess
DBACCESS_ALIAS=protheus
DBACCESS_PORT=7890

# AppServer
APPSERVER_PORT=1234
WEBAPP_PORT=8080

# License
LICENSE_HOST=license
LICENSE_PORT=5555
