[PROTHEUS-DOCKER]
SourcePath=/opt/totvs/protheus/apo
RpoCustom=/opt/totvs/protheus/apo/custom.rpo
RootPath=/opt/totvs/protheus/protheus_data
StartPath=/system
x2_path=
RpoDb=top
RpoLanguage=multi
RpoVersion=120
LocalFiles=CTREE
Trace=0
localdbextension=.dtc
TopMemoMega=1
StartSysInDB=1

[DBAccess]
DataBase=POSTGRES
Server=dbaccess-postgres
Alias=protheus
ProtheusOnly=0
Port=7890

[general]
buildkillusers=1
consolelog=1
consolefile=/opt/totvs/appserver/console.log
maxstringsize=10

[drivers]
active=tcp
multiprotocolportsecure=0
multiprotocolport=1

[tcp]
type=tcpip
port=1234

[webapp]
enable=1
port=8080
envserver=PROTHEUS-DOCKER
lastmainprog=SIGAADV,SIGACFG,APSDU
hideparamsform=0

[licenseclient]
server=license
port=5555

[tds]
allowapplypatch=*
allowedit=*
enabledisconnectuser=*
enablesendmessage=*
enableblocknewconnection=*
enablestopserver=*

[webapp/webapp]
mpp=
