[GENERAL]
LicenseServer=license
LicensePort=5555

[POSTGRES/PROTHEUS]
ConnectionMode=2
ConnectionString=DRIVER={PostgreSQL};SERVERNAME=postgres-iniciado;PORT=5432;DATABASE=protheus;USERNAME=postgres;PASSWORD=postgres
ClientLibrary=/usr/lib64/libodbc.so

[POSTGRES]
environments=PROTHEUS
ClientLibrary=/usr/lib64/libodbc.so
